{% extends 'base.html.twig' %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    <section class="content" style="margin-top:70px !important">
        <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-md-12 mb-12" style="margin-bottom: 20px">
                    <h3 class="pri bolo600 text-center">TOUT CE DONT VOUS AUREZ BESOIN POUR GÉRER VOS CHANTIERS !</h3>
                </div>
            </div>
            <div class="row clearfix">
                {% for metier in metier %}
                    <div class="col-md-4 col-lg-3 col-sm-4 p-0">
                        <div class="card m-1 border-primary" >
                            <a href="{{ path('partage', {'idpays': 1, 'metier': metier.id}) }}">
                                <img src="{{ asset('metier/'~metier.id~'.jpg' ) }}" class="card-img-top lazy" style="width: 100%">
                                <div class="card-footer bg-pri" style ="padding: 5px">
                                    <h6 class="text-white text-center bolo600" style="font-size: 13px">{{ metier.nom|upper }}</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
